.container {
    display: flex;
    margin: 150px auto;
    width: 250px;
    height: 180px;
    border: 3px solid #1dedff;
    padding: 15px;
    background-color: #282c34;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    height: 35px;
    width: 75px;
    border: 2px solid #1dedff;
    border-radius: 10px;
}
button:hover {
    color: #1dedff;
}

.increm {
    font-size: 50px;
    color: white;
    border: #1dedff solid 2px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 25px;
    font-weight: bold;
}

.red {
    color: red;
}

.buttonCountainer {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border: 2px solid #1dedff;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}